In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df_world = pd.read_excel('data/BusinessFinancing.co.uk-WomenTrailblazers.xlsx', sheet_name='World')
df_us = pd.read_excel('data/BusinessFinancing.co.uk-WomenTrailblazers.xlsx', sheet_name='United States')

In [6]:
df_world.shape

(208, 17)

In [7]:
df_us.shape

(59, 16)

In [9]:
df_world.head(3)

,Country,Continent,Company Name,Industries,Broad Industry,Female Founder,CB Rank,CB URL,LinkedIn,Companies Founded,Place of Education,Subject of Education,Founder Type,Funding,Company CB URL,Company Location,Other Founders
0,Afghanistan,Middle East & Central Asia,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,NaN
1,Albania,Europe,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,NaN
2,Tanzania,Africa,EdgePoint,"Information Technology, Insurance, Telecommuni...",Biotech & Health,Lilian Makoi,91800,https://www.crunchbase.com/person/lilian-makoi,https://www.linkedin.com/in/lilian-makoi-b7ab0...,2,unknown,unknown,co-founder,16343,https://www.crunchbase.com/organization/edgepoint,"Dar Es Salaam, Dar es Salaam, Tanzania",Chris Rabi

In [14]:
df_world['Broad Industry'].value_counts()[1:] #0: no data

E-Commerce           21
Biotech & Health     17
FinTech              14
Services             10
Other                10
Business Software    10
AI                    7
Education             6
Agro & Food           6
Transportation        4
Name: Broad Industry, dtype: int64

In [12]:
df_us.head(3)

,Country,State,Female founder,CB Rank,CB URL,LinkedIn,Companies Founded,Education,Founder Type,Company name,Industries,Broad industry,Funding,Company CB URL,Company Location,Other Founders
0,United States,Alabama,Ilit Raz,49114.0,https://www.crunchbase.com/person/ilit-raz,https://www.linkedin.com/in/ilitraz,1,"Hult International Business School, IDC Herzliya",co-founder,Joonko,"Human Resources, Software",Business Software,3300000,https://www.crunchbase.com/organization/joonko,"Birmingham, Alabama, United States","Elad Shmilovich, Guy Grinwald,"
1,United States,Alaska,Ayla Rogers,290213.0,https://www.crunchbase.com/person/ayla-rogers,NaN,1,NaN,co-founder,Pandere Shoes,"E-Commerce, Shoes",E-Commerce,505000,https://www.crunchbase.com/organization/pander...,"Anchorage, Alaska, United States","Celia MacLeod, Laura Oden"
2,United States,Alaska,Laura Oden,295218.0,https://www.crunchbase.com/person/laura-oden,https://www.linkedin.com/in/laura-oden-b11b4675,1,Southern Methodist University,co-founder,Pandere Shoes,"E-Commerce, Shoes",E-Commerce,505000,https://www.crunchbase.com/organization/pander...,"Anchorage, Alaska, United States","Ayla Rogers, Celia MacLeod,"

In [13]:
df_us['Broad industry'].value_counts()

Biotech & Health     23
E-Commerce            8
Other                 7
Business Software     6
Education             6
FinTech               4
AI                    2
Agro & Food           1
Services              1
Transportation        1
Name: Broad industry, dtype: int64

From this alone, we can see hat "E-commerce" and "Biotech & Health" are the common broad insutries that female start their businesses. 

*(This is also consitent with when the search results when you type "What is the best business for a woman to start" on Google)*