In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [45]:
regions = ['US', 'EU', 'Europe', 'China']
by_industry_group = ['industry_groups', 'industries']

In [16]:
df_industries = pd.read_csv(f'../data/crunchbase-aggregated/region_top_industries.csv', index_col=0)

In [22]:
equal_diff_rows = ['female_diff_group_equal', 'male_diff_group_equal', 'female_diff_equal', 'male_diff_equal']

In [25]:
for row in equal_diff_rows:
    
    print(row)

    for region in regions:

        result = df_industries.loc[row][region]
        print(f'{region}: {result}')
    print()

female_diff_group_equal
US: ['Design', 'Community and Lifestyle', 'Real Estate']
EU: ['Community and Lifestyle', 'Biotechnology', 'Advertising', 'Clothing and Apparel']
Europe: ['Design', 'Advertising', 'Real Estate']
China: ['Consumer Goods', 'Food and Beverage', 'Artificial Intelligence', 'Real Estate']

male_diff_group_equal
US: ['Consumer Electronics', 'Privacy and Security', 'Transportation']
EU: ['Consumer Electronics', 'Transportation', 'Manufacturing', 'Professional Services']
Europe: ['Consumer Electronics', 'Community and Lifestyle', 'Professional Services']
China: ['Financial Services', 'Manufacturing', 'Content and Publishing', 'Sales and Marketing']

female_diff_equal
US: ['Wellness', 'Medical Device', 'Advertising', 'Social Media', 'Mobile Apps']
EU: ['Biotechnology', 'Fashion', 'Pharmaceutical', 'Medical', 'Advertising', 'Mobile Apps', 'Shopping']
Europe: ['Fashion', 'Medical', 'Advertising', 'Blockchain', 'Mobile Apps', 'Shopping']
China: ['Consumer Electronics', 'Consumer Goods', 'Music', 'Medical', 'Food and Beverage', 'Robotics', 'Mobile Apps', 'Video']

male_diff_equal
US: ['Pharmaceutical', 'Cyber Security', 'FinTech', 'Security', 'Machine Learning']
EU: ['Analytics', 'Financial Services', 'FinTech', 'Sports', 'Blockchain', 'Automotive', 'Search Engine']
Europe: ['Analytics', 'Marketplace', 'Payments', 'FinTech', 'Internet of Things', 'Marketing']
China: ['Education', 'Financial Services', 'Manufacturing', 'Automotive', 'Hardware', 'Sales', 'Retail', 'Marketing']

In [107]:
region = 'China'
df2 = pd.read_csv(f'../data/crunchbase-aggregated/{region}-industry_groups_equal.csv')
df4 = pd.read_csv(f'../data/crunchbase-aggregated/{region}-industries_equal.csv')

In [113]:
df4[df4['industry']=='Hardware']

    industry  #companies  #female_co  #not_female_co    %female  %not_female
59  Hardware           6         2.0             4.0  33.333333    66.666667

## female representation

### across regions

In [4]:
for region in regions:
    df = pd.read_csv(f'../data/crunchbase-aggregated/{region}-gender.csv')
    n1 = df[df['%female']>0.5].shape[0]
    n2 = df[df['#female']>0].shape[0]
    print(f'{region}: {n1}, {n2}')

China: 51, 98
EU: 35, 138
Europe: 32, 150
US: 59, 196

### across industries

In [106]:
for region in regions:
    for big in by_industry_group:
        df = pd.read_csv(f'../data/crunchbase-aggregated/{region}-{big}_updated.csv')
        metric1 = df['#female_co'].std()
        metric2 = df['#not_female_co'].std()
        print(f'{region}_{big}: {metric1}, {metric2}')

US_industry_groups: 4.682839470582604, 5.725221823170381
US_industries: 1.7506629634925193, 2.3610194193213827
EU_industry_groups: 2.644076519751921, 3.115119300118096
EU_industries: 1.1694877190695359, 1.2573228433558685
Europe_industry_groups: 2.942992537196751, 2.9360382926002466
Europe_industries: 1.4044205433844599, 1.4073836350390911
China_industry_groups: 4.083703398151646, 3.6535982931631774
China_industries: 1.5135480634892882, 1.1323330860757272

In [47]:
for region in regions:
    df = pd.read_csv(f'../data/crunchbase-aggregated/{region}-industries_updated.csv')
    data = df.sort_values(['#female_co'], ascending=False).iloc[0]
    print(f'{region}: {data["industry"]}, {data["#female_co"]}, {data["%female"]:.2f}')

US: Health Care, 12.0, 54.55
EU: Software, 8.0, 50.00
Europe: Software, 10.0, 50.00
China: E-Commerce, 9.0, 56.25

In [48]:
for region in regions:
    df = pd.read_csv(f'../data/crunchbase-aggregated/{region}-industries_updated.csv')
    data = df.sort_values(['#not_female_co'], ascending=False).iloc[0]
    print(f'{region}: {data["industry"]}, {data["#not_female_co"]}, {data["%not_female"]:.2f}')

US: Software, 18.0, 60.00
EU: Software, 8.0, 50.00
Europe: Software, 10.0, 50.00
China: E-Commerce, 7.0, 43.75

In [107]:
region='US'
select='not_female'
updated='' #'_updated'
df = pd.read_csv(f'../data/crunchbase-aggregated/{region}-industries{updated}.csv')
df.sort_values([f'#{select}_co'], ascending=False)[:10][
    ['industry', f'#{select}_co', f'%{select}']].round(2)

                    industry  #not_female_co  %not_female
50                  Software           284.0        95.95
4                Health Care           144.0        92.31
29    Information Technology           137.0        99.28
24                      SaaS           119.0        95.97
1              Biotechnology            99.0        90.83
23                    Mobile            90.0        92.78
52                  Internet            81.0        98.78
166      Enterprise Software            80.0        96.39
47   Artificial Intelligence            75.0        96.15
117                Analytics            73.0        93.59

In [115]:
regions=['China', 'EU', 'Europe', 'US']

In [121]:
big='industries'
for region in regions:
    #for big in by_industry_group:
    df = pd.read_csv(f'../data/crunchbase-aggregated/{region}-{big}_updated.csv')
    #metric = df['#companies'].mean()
    #print(f'{region}_{big}: {metric}')
    
    metric1 = df['#female_co'].mean()
    metric2 = df['#not_female_co'].mean()
    print(f'{region}_{big}: {metric1}, {metric2}')

China_industries: 1.0666666666666667, 1.6732673267326732
EU_industries: 0.9485294117647058, 1.6436781609195403
Europe_industries: 1.0564516129032258, 1.6585365853658536
US_industries: 1.2746113989637307, 1.9603174603174602

In [122]:
# big='industries'
for region in regions:
    #for big in by_industry_group:
    df = pd.read_csv(f'../data/crunchbase-aggregated/{region}-{big}.csv')
    #metric = df['#companies'].mean()
    #print(f'{region}_{big}: {metric}')
    
    metric1 = df['#female_co'].mean()
    metric2 = df['#not_female_co'].mean()
    print(f'{region}_{big}: {metric1}, {metric2}')

China_industries: 0.4359673024523161, 7.477653631284916
EU_industries: 0.2665289256198347, 7.934873949579832
Europe_industries: 0.26899383983572894, 7.985537190082645
US_industries: 0.5082644628099173, 8.334736842105263

In [134]:
region='China'
select='female'
updated='' #'_updated'
df = pd.read_csv(f'../data/crunchbase-aggregated/{region}-industries{updated}.csv')
filter = df['#female_co']>1
df[filter].sort_values([f'%{select}'], ascending=False)[:10][
    ['industry', f'#{select}_co', f'%{select}']].round(2)

                 industry  #female_co  %female
319        Smart Building         2.0   100.00
179    Speech Recognition         2.0   100.00
323                   B2C         2.0    40.00
30        Brand Marketing         2.0    33.33
120  Consumer Electronics         2.0    28.57
54          Food Delivery         2.0    28.57
170        Consumer Goods         3.0    23.08
69                  Video         4.0    20.00
32      Food and Beverage         6.0    19.35
57       Trading Platform         2.0    18.18