# feature engineering

*dealing with multi-label columns, which generates the most columns*

v3
- instead of encoding the `female_led` info, just keep the percentage; if no information, encode **0.5**
- no multilabelbinarizers

v4
- only keep the `Industry Groups` multilabel column

v5
- break down `Headquarters Location` multilabel column and use OneHotEncoder instead (similar to how `Headquarters Region` was processed

v6 
- strategically add `Top 5 Investors` information in after pre-processing, take investors appearing more than 10 times (added 78 more columns)

v7
- `Headquarters Location` expanded to also include cities
- take `Top 5 Investors` appearing more than 5 times

In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# data
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt

# feature engineering
from numpy import asarray
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, MultiLabelBinarizer
from collections import Counter

## 1. Aggregate Data
combine data of regions China, Europe, and the US.

In [2]:
regions = ['China', 'Europe', 'US']

In [3]:
df0 = pd.read_csv(f'../data/crunchbase-aggregated/{regions[0]}-gender.csv')
df1 = pd.read_csv(f'../data/crunchbase-aggregated/{regions[1]}-gender.csv')
df2 = pd.read_csv(f'../data/crunchbase-aggregated/{regions[2]}-gender.csv')

In [4]:
df = pd.concat([df0, df1, df2])
df.reset_index(inplace=True, drop=True)
df.shape

(3000, 113)

## 2. Feature Transformation
data scaling, discretization, dealing missing values etc.

## 2.1 skip rows

1. rows already correctly labeled
2. all the same or too many NULLs
3. equivalent to name
4. equivalent to total funding amount
5. irrelevant data

In [5]:
lower_cols = ['Number of Founders', 'Number of Funding Rounds', 
              'Trend Score (7 Days)', 'Trend Score (30 Days)', 'Trend Score (90 Days)']

In [6]:
df.rename(columns={'Number of Founders': 'number_of_founders',
                  'Number of Funding Rounds': 'number_of_funding_rounds',
                  'Trend Score (7 Days)': 'trend_score_7',
                  'Trend Score (30 Days)': 'trend_score_30',
                  'Trend Score (90 Days)': 'trend_score_90'}, inplace=True)

In [7]:
drop_cols = ['Description', 'Full Description', 
             'Website', 'Twitter', 'Facebook', 'LinkedIn',
             'Contact Email', 'Phone Number', 'Founders',
             'Transaction Name', 'Contact Job Departments',
             'Number of Contacts', 'Number of Private Contacts',
             'api_raw', 'gender', 'prob',
             'IPO Status', 'Operating Status', 'Diversity Spotlight (US Only)',
              'Exit Date', 'Closed Date', 'Company Type', 'Hub Tags',
              'Actively Hiring', 'Investor Type', 'Investment Stage',
              'Number of Portfolio Organizations','Number of Investments',
              'Number of Lead Investments', 'Number of Diversity Investments',
              'Number of Exits', 'Number of Exits (IPO)', 'Accelerator Program Type',
              'Accelerator Application Deadline', 'Accelerator Duration (in weeks)',
              'School Type', 'School Program', 'Number of Enrollments',
              'School Method', 'Number of Founders (Alumni)', 'Number of Alumni',
              'Acquired by', 'Announced Date', 'Price', 
              'Acquisition Type', 'Acquisition Terms', 'Acquisition Status',
              'IPO Date', 'Delisted Date', 'Money Raised at IPO',
              'Valuation at IPO', 'Stock Symbol', 'Stock Exchange', 'Number of Events',
              'Last Leadership Hiring Date', 'Last Layoff Mention Date',
              'IT Spend', 'Date of Most Recent Valuation', 'Number of Private Notes', 
              'Most Popular Trademark Class', 'Most Popular Patent Class',
              'Tags', 'Unnamed: 107', 
              'Industries', 'Funding Status', 'Last Equity Funding Type',
              'CB Rank (Organization)', 'CB Rank (School)',
              'Last Funding Amount', 'Last Equity Funding Amount', 'Total Equity Funding Amount']

In [8]:
df.drop(columns=drop_cols, inplace=True)
df.shape

(3000, 42)

## 2.2 encoding categorical data
### 2.2.1 convert text to equal categories

**are they equal or ordinal?**
- `Funding Status`: "Early Stage Venture", "Seed", "M&A" (overlaps with `Last Funding Type`)
- `Acquisition Status`: "Was Acquired", "Made Acquisitions", "Made Acquisitions; Was Acquired" (for early stage too many NULLs)

Notes
- `Headquarters Location` _(city, state, country) where many city=state (e.g. New York)_ **(break it down, only take state and country, and use OneHotEncoder)**
- `Headquarters Regions` (to avoid overlap with prev, only take last region and use OneHotEncoder)

#### preprocess multi-label columns for one-hot-encoding

In [9]:
# headquarters regions
df['hq_region'] = df['Headquarters Regions'].str.lower().str.strip('').str.split('; ').str[-1]
df.drop(columns=['Headquarters Regions'], inplace=True)

# headquarters location
df['hq_country'] = df['Headquarters Location'].str.lower().str.strip('').str.split('; ').str[-1]
df['hq_state'] = df['Headquarters Location'].str.lower().str.strip('').str.split('; ').str[-2]
df['hq_city'] = df['Headquarters Location'].str.lower().str.strip('').str.split('; ').str[-3]
df.drop(columns=['Headquarters Location'], inplace=True)

In [10]:
# country==state
state_country = list(df[df['hq_country']==df['hq_state']]['hq_state'].unique())

# state==city
error_cities = ['belgium', 'chongqing', 'guangdong', 'hunan', 'porto', 'tianjin', 'vaud', 'washington']
state_city = list(df[df['hq_state']==df['hq_city']]['hq_state'].unique()) + error_cities

In [11]:
def equal_cat(df, col):
    
    '''create new columns binary encoding each category'''
    
    # deal with NULL values
    new_col = col.lower().replace(' ', '_')
    df[new_col] = df[col].str.replace('â€”',f'{new_col}_null')
    
    # initiate binary encoder
    ohe = OneHotEncoder()
    
    # join original df with the created df with many new binary columns
    df_ohe = pd.DataFrame(ohe.fit_transform(asarray(df[new_col]).reshape(-1,1)).toarray(), 
                          columns=ohe.categories_, index=df.index)
    df_ohe.columns = df_ohe.columns.get_level_values(0)
    
    # deal with exceptions
    try:
        df = df.join(df_ohe)
    except ValueError:
        # country==state
        if col == 'hq_state':
            df = df.join(df_ohe.drop(columns=state_country))
        # state==city
        if col == 'hq_city':
            df = df.join(df_ohe.drop(columns=state_city))
    
    return df

### 2.2.2 convert text to ORDINAL categories

- 'Last Funding Type'
- 'Estimated Revenue Range'
- 'Number of Employees'
- 'Most Recent Valuation Range'

*Note: `.astype('category').cat.codes` is not a good method because it assigns the number in random order*

In [12]:
def ordinal_cat(df, col):
    
    '''create one new column with ordinal categories'''
    
    # get text for new column name
    new_col = col.lower().replace(' ', '_')
    
    
    # specify ordinal order
    if (col=='Last Funding Type'):
        labels = ['Seed', 'Series A']
    
    if (col=='Estimated Revenue Range') or (col=='Most Recent Valuation Range'):
        labels = ['â€”', 'Less than $1M', '$1M to $10M', '$10M to $50M', 
                  '$50M to $100M', '$100M to $500M', '$500M to $1B', 
                  '$1B to $10B', '$10B+']
    
    if col == 'Number of Employees':
        # some '1-10' were read incorrectly and automatically converted to date formats
        df['Number of Employees'] = df['Number of Employees'].str.replace('10-Jan', '1-10')
        labels = ['â€”', '1-10', '11-50', '51-100', '101-250', '251-500', 
                  '501-1000', '1001-5000', '5001-10000', '10001+']
    
    
    # convert text to ordinal categories
    cat = list(np.array(labels).reshape(1,len(labels)))
    oe = OrdinalEncoder(categories=cat)
    df[new_col] = oe.fit_transform(asarray(df[col]).reshape(-1, 1))
    df[new_col] = df[new_col].astype('int')

### 2.2.3 convert text list to MULTI-LABEL categories
#1
- `Headquarters Location` (after processing moved to OneHotEncoder)
- `Headquarters Regions` (after processing moved to OneHotEncoder)

#2
- `Industries` (ignore because overlaps with `Industry Groups`)
- `Industry Groups` 

#3
- `Top 5 Investors` (after processing moved to OneHotEncoder)

<span style="color:red">
create a new col called "top_investors" that is bool? --> can do this for "top_industries" too?

In [13]:
# get all investors
all_investors = []
df_investors = df['Top 5 Investors'].str.lower().str.strip('').str.split('; ')
for i in range(3000):
    all_investors.extend(df_investors[i])
    
# len(all_investors) #8905
# len(set(all_investors)) #4773

# sorted(Counter(all_investors).items(), key=lambda pair: pair[1], reverse=True)
# investors in at least 5 companies out of 3000
top_investors = []
for key, val in Counter(all_investors).items():
    if val >= 5:
        top_investors.append(key)

# remove nan from list
top_investors.remove('â€”')

# one hot encode all these
len(top_investors) #285

285

In [14]:
def multilabel_cat(df, col):
    '''create multiple one-hot encoded columns for each tag/label in a row'''
    
    # dealing with null valuess (so that null_cols for each newly created col is a different name)
    new_col = col.lower().replace(' ', '_')
    df[new_col] = df[col].str.replace('â€”', f'{new_col}_null')
    
    # get list of labels from text in each row
    df[f'{new_col}_lst'] = df[new_col].str.lower().str.strip('').str.split('; ')
    
    # initiate multi-label binary encoder
    mlb = MultiLabelBinarizer()
    
    # join original df with the created df with many new binary columns
    df_mlb = pd.DataFrame(mlb.fit_transform(df[f'{new_col}_lst']),
                          columns=mlb.classes_, index=df.index)
    
    # only take top info to add back to table because investors info is sparse
    if col=='Top 5 Investors':
        df_mlb = df_mlb[top_investors]
        
    df = df.join(df_mlb)
    
    return df

## 2.4 convert text to separate dates
(1) have full date (format, e.g. "Dec 31; 1999"), 
(2) some have full date but most only have year

- `Last Funding Date`: (1)
- `Founded Date`: (2)

In [15]:
def text_date(df, col):
    
    '''create new columns separating date into day, month, year'''
    
    # (1) have full date info (format, e.g. "Dec 31; 1999")
    if all(df[col].str.len()>10):
    
        # get text for new column name
        new_col1 = col.lower().replace(' ', '_').replace('date', 'day')
        new_col2 = col.lower().replace(' ', '_').replace('date', 'month')
        new_col3 = col.lower().replace(' ', '_').replace('date', 'year')

        # convert day and year
        df[new_col3] = df[col].str[-4:]
        df[new_col1] = df[col].str[3:5]

        # convert month
        # df[new_col2] = df[col].str[:3] #text
        df[new_col2] = pd.to_datetime(df[col].str[:3], format='%b').dt.month
    
    
    # (2) some rows have full date but most only have year info
    else:
        
        # get text for new column name
        new_col = col.lower().replace(' ', '_').replace('date', 'year')

        # convert day and year
        df[new_col] = df[col].str[-4:]

## 2.5 convert text to number

1. integer
2. float (percentage)
3. currency (multiply and union)

In [16]:
def text_num(df, col, type='int'):
    
    '''update original column converting text to appropriate numerical format'''
    
    # get new column name
    new_col = col.lower().replace(' ', '_')
    
    # common cleaning: deal with NULL values
    df[new_col] = df[col].str.replace('â€”','0')
    
    # (1) integer
    if type=='int':
        
        # convert text to int
        df[new_col] = df[new_col].str.replace(';','').astype('int')
        
    # (2) float (percentage)
    if type=='float':
        
        # additional step to strip sign
        df[new_col] = df[new_col].str.replace('%','')
        
        # convert text to float
        df[new_col].str.replace(';','').astype('float')

In [17]:
def text_curr(df, col):
    '''create new column converting all amount to USD'''
    
    # get new column name
    new_col = col.lower().replace(' ', '_')
    
    # clean text
    df[new_col] = df[col].str.replace(';','')
    
    # add new col "conversion rate" of usd:currency = 1:x
    df['cvr'] = 0
    
    # strip currency signs and update conversion rate
    # us dollar
    df[new_col] = df[new_col].str.replace('$','')
    df.loc[df[col].str[0]=='$', 'cvr'] = 1
    
    # euro
    df[new_col] = df[new_col].str.replace('â‚¬','')
    df.loc[df[col].str[0]=='â‚¬', 'cvr'] = 1.1
    
    # uk pound
    df[new_col] = df[new_col].str.replace('Â£','')
    df.loc[df[col].str[0]=='Â£', 'cvr'] = 1.34
    
    # japanese yen
    df[new_col] = df[new_col].str.replace('Â¥','')
    df.loc[df[col].str[0]=='Â¥', 'cvr'] = 0.0087
    
    # chinese yuan ('CNÂ¥')
    df[new_col] = df[new_col].str.replace('CN','')
    df.loc[df[col].str[0:2]=='CN', 'cvr'] = 0.16
    
    # canadian dollar ('CA$')
    df[new_col] = df[new_col].str.replace('CA','')
    df.loc[df[col].str[0:2]=='CA', 'cvr'] = 0.79
    
    # swiss franc
    df[new_col] = df[new_col].str.replace('CHF','')
    df.loc[df[col].str[0:3]=='CHF', 'cvr'] = 1.09
    
    # swedish krona
    df[new_col] = df[new_col].str.replace('SEK','')
    df.loc[df[col].str[0:3]=='SEK', 'cvr'] = 0.1
    
    # russian ruble
    df[new_col] = df[new_col].str.replace('RUB','')
    df.loc[df[col].str[0:3]=='RUB', 'cvr'] = 0.01
        
    # norwegian krone
    df[new_col] = df[new_col].str.replace('NOK','')
    df.loc[df[col].str[0:3]=='NOK', 'cvr'] = 0.11
    
    # new zealand dollar ('NZ$')
    df[new_col] = df[new_col].str.replace('NZ','')
    df.loc[df[col].str[0:2]=='NZ', 'cvr'] = 0.69
    
    # poland ztoty
    df[new_col] = df[new_col].str.replace('PLN','')
    df.loc[df[col].str[0:3]=='PLN', 'cvr'] = 0.24
        
    # icelandic krona
    df[new_col] = df[new_col].str.replace('ISK','')
    df.loc[df[col].str[0:3]=='ISK', 'cvr'] = 0.008
    
    # hungarian forint
    df[new_col] = df[new_col].str.replace('HUF','')
    df.loc[df[col].str[0:3]=='HUF', 'cvr'] = 0.003
    
    # null value
    df[new_col] = df[new_col].str.replace('â€”','0')
    
    
    '''cannot strip currency and convert to int the multipl only for parts of the data 
       so the best implementation is to split it into two steps'''
    
    # multiply number by conversion rate to get amount all in usd
    df[new_col] = df[new_col].astype('int')
    df[f'{new_col}_usd'] = df[new_col]*df['cvr']

## 2.6 convert text to NLP (bag of words?)
- `Description`
- `Full Description`

## run all conversions

In [18]:
# headquarters info all moved to equal_cats
equal_cats = ['hq_region', 'hq_country', 'hq_state', 'hq_city']
for cat1 in equal_cats:
    df = equal_cat(df, cat1)
    print(df.shape)

(3000, 54)
(3000, 90)
(3000, 311)
(3000, 854)

In [19]:
ord_cats = ['Last Funding Type', 'Estimated Revenue Range', 'Number of Employees', 
            'Most Recent Valuation Range']
for cat2 in ord_cats:
    ordinal_cat(df, cat2)
df.shape

(3000, 858)

In [20]:
date_cols = ['Last Funding Date', 'Founded Date']
for date_col in date_cols:
    text_date(df, date_col)
df.shape

(3000, 862)

In [21]:
int_cols = ['CB Rank (Company)', 'Number of Articles', 'Number of Lead Investors', 
            'Number of Investors', 'Number of Acquisitions','Monthly Visits', 
            'Visit Duration', 'Global Traffic Rank', 'Monthly Rank Change (#)', 
            'Active Tech Count', 'Number of Apps', 'Downloads Last 30 Days',
            'Total Products Active', 'Patents Granted', 'Trademarks Registered']
for num1 in int_cols:
        text_num(df, num1, type='int')
df.shape

(3000, 877)

In [22]:
float_cols = ['Monthly Visits Growth', 'Visit Duration Growth', 'Page Views / Visit', 
              'Page Views / Visit Growth', 'Bounce Rate', 'Bounce Rate Growth', 
              'Monthly Rank Growth', 'Average Visits (6 months)']
for num2 in float_cols:
    text_num(df, num2, type='float')
df.shape

(3000, 885)

In [23]:
curr_cols = ['Total Funding Amount']
for num3 in curr_cols:
    text_curr(df, num3)
df.shape

(3000, 888)

In [24]:
multi_cats = ['Industry Groups', 'Top 5 Investors']
for cat3 in multi_cats:
    df = multilabel_cat(df, cat3)
    print(df.shape)

(3000, 938)
(3000, 1225)

In [25]:
# redundant cols generated from feature engineering
multi_cats_lst = []
for col in multi_cats:
    new_col = col.lower().replace(' ', '_')
    multi_cats_lst.append(f'{new_col}_lst')

### remove additional cols
- old cols that is no longer needed after new processing
- midway processing cols used to produce new cols

In [26]:
old_cols = equal_cats + ord_cats + multi_cats + multi_cats_lst + date_cols + int_cols + float_cols + curr_cols + ['cvr', 'total_funding_amount']

In [27]:
df.drop(columns=old_cols, inplace=True)
df.shape

(3000, 1185)

## 3. Data Post-Processing

since no longer a classification task, `%female` can be kept as variable!

In [28]:
# also drop the col that would give away
df.drop(columns=['#female'], inplace=True)

<span style="color:red">
encode no info as 0.5 in company (so it is a neutral situation? better than encoding 0?)

In [29]:
df['%female'].fillna(0.5, inplace=True)

### dealing with missing data

In [30]:
df['total_funding_amount_usd'].isnull().sum()#value_counts()

0

In [31]:
df[df['total_funding_amount_usd']==0].shape

(0, 1184)

### set name as index 
so that the rest of the columns are all numerical data that could fit in the model

In [32]:
df.set_index('Organization Name', inplace=True)
num_cols = df.describe().columns #this takes awhile to load
new_df = df[num_cols]
new_df.shape #v6: 423

(3000, 1170)

In [33]:
# set(df.columns).difference(set(new_df.columns))

### export data

In [34]:
# new_df.to_csv('../data/feature_engineering/combined_feng_v7.csv')

In [35]:
# new_df.to_csv('../data/feature_engineering/combined_feng_reg.csv')
# new_df.to_csv('../data/feature_engineering/combined_feng.csv')
# new_df.to_csv('../data/feature_engineering/combined_feng_dropna.csv')
# new_df.to_csv('../data/feature_engineering/combined_feng3.csv')

In [36]:
# new_df['female_led'].value_counts()